@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;500&display=swap");
@import "./breakpoints.scss";

$white: #ffffff;
$black: #000000;
$tessCoat: #bc6238;
$gray1: #262626;
$gray2: #58595b;
$gray3: #3b3b3b;
$gray4: #b3b3b3;

@mixin main {
  @include xl {
    max-width: calc(70vw - 0.625rem - 1.25rem);
  }
}

body {
  margin: 0;
  padding: 1rem;

  background-color: $black;
  color: $white;

  font-family: "Barlow", sans-serif;
}

a {
  color: $white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}

.highlight {
  color: $tessCoat;
}

#top-section-container {
  @include main;

  & > img {
    border-radius: 1.25rem;
  }

  #motto {
    & > h1 {
      margin-bottom: 0;
    }

    & > h3 {
      margin-top: 0.625rem;
    }
  }

  @include xl {
    display: flex;

    & > img {
      max-width: 10rem;
    }

    & > :nth-child(2) {
      margin-left: 0.625rem;
    }
  }
}

#filler {
  @include main;
}

#contact-details-container {
  @include xl {
    position: fixed;
    width: calc(30vw - 0.625vw - 1.25rem);
    right: 1.25rem;
    top: 1.25rem;
  }

  #contact-details {
    font-size: 1.25rem;
    background-color: $tessCoat;
    color: $white;
    border-radius: 1.25rem;
    padding: 0.625rem;

    & > h2 {
      margin: 0;
    }

    & > ul {
      list-style: square;
      margin: 0;
      padding-left: 1.875rem;
    }
  }
}
